* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #FFF;
    height: 100vh;
}

h2.titulo {
    font-size: 34px;
    margin-bottom: 20px;
}

.conteudo {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Header */
header {
    padding: 30px 4%;
    border-bottom: 1px solid #5c5c5c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;   
    background: #000;
}

.logo img {
    height: 50px;
}

header > .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s    
}

header a:hover {
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

    transition: .2s
}

.btn-contato button:hover {
    transform: scale(1.05);
}

/* Todo do site */
section.inicio {
    padding: 40px 4%;
    margin-top: 180px;
    margin-bottom: 20px;
}

section.inicio .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio h1 {
    font-size: 38px;
    line-height: 40px;
}

.inicio .txt-inicio p {
    margin: 40px 0;
}

/* Habilidades */
section#habilidades {
    padding: 40px 4%;
}

#habilidades .habilidades-box {
    padding: 40px;
}

#habilidades .habilidades-box i {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#habilidades .habilidades-box h3 {
    margin-top: 20px;
}

#habilidades .habilidades-box p {
    margin-top: 10px;
}

/* Sobre */
section#sobre {
    padding: 40px 4%;
}

#sobre p {
    margin-bottom: 20px;
}

#sobre .flex {
    gap: 10px;
}

.btn-sobre {
    display: flex;
    gap: 10px;
}

footer {
    padding: 30px 4%;
    border-top: 1px solid #5c5c5c;
}

footer p {
    text-align: end;
    font-size: 12px;
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;        
    }
    
    .menu-desktop {
        display: none;
    }    

    section.inicio {
        padding: 10px 4%;
    }

    section.inicio .flex {
        gap: 40px;
    }   
}
