* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #FFF;
}

h2.titulo {
    font-size: 34px;
    margin-bottom: 20px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

    transition: .2s
}

.btn-contato button:hover {
    transform: scale(1.05);
}

/* Header */
header {
    padding: 30px 4%;
    border-bottom: 1px solid #5c5c5c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;   
    background: #000;
}

.logo img {
    height: 50px;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s    
}

header a:hover {
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Inicio */
section.inicio {
    padding: 40px 4%;
    margin-top: 180px;
    margin-bottom: 20px;
}

section.inicio .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.inicio h1 {
    font-size: 38px;
    line-height: 40px;
}

.inicio .txt-inicio p {
    margin: 40px 0;
}

/* Habilidades */
section#habilidades {
    padding: 40px 4%;
}

#habilidades .habilidades-box {
    padding: 40px;
}

#habilidades .habilidades-box i {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#habilidades .habilidades-box h3 {
    margin-top: 20px;
}

#habilidades .habilidades-box p {
    margin-top: 10px;
}

/* Sobre */
section#sobre {
    padding: 40px 4%;
}

#sobre p {
    margin-bottom: 50px;
}

#sobre .flex {
    gap: 10px;
}

.btn-sobre {
    display: flex;
    gap: 20px;
}

/* Footer */
footer {
    padding: 30px 4%;
    border-top: 1px solid #5c5c5c;
}

footer p {
    text-align: end;
    font-size: 12px;
}


/* Estilização do Menu Mobile */
.menu-mobile {
    background-color: #5c5c5c;
    color: #fff;
    position: absolute;
    top: 117px;
    left: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.3s;
}

.menu-mobile ul li {
    display: block;
    padding: 20px;
    font-size: 24px;
}

.menu-mobile ul li:hover {
    background-color: #5c5c5c;
}

#btn-menu-mobile {
    width: 30px;
    height: 26px;
    border: 2px solid #5c5c5c;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 15px;
    display: none;
}

.linha {
    width: 20px;
    height: 2px;
    border: 1px solid #5c5c5c;
    background: #5c5c5c;
    display: block;
    margin: 3px auto;
    position: relative;
}

#btn-menu-mobile.ativar .linha:nth-child(1) {
    transform: translateY(2px) rotate(-45deg);
    background-color: red;
    border: 1px solid red;
}

#btn-menu-mobile.ativar .linha:nth-child(2) {
    display: none;
}

#btn-menu-mobile.ativar .linha:nth-child(3) {
    transform: translateY(-3px) rotate(40deg);
    background-color: red;
    border: 1px solid red;
}

#btn-menu-mobile .ativar {
    border: 2px solid red;
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;        
    }
    
    .menu-desktop {
        display: none;
    }    

    section.inicio {
        padding: 10px 4%;
    }

    section.inicio .flex {
        gap: 40px;
    }   

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 117px);
    }

    #btn-menu-mobile {
        display: block;
    }
}

